Repository vasubajaj7/demo-8eyuba, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/architects, @organization/lead-developers, @organization/devops, @organization/airflow-developers, @organization/data-engineers, @organization/security-team, @organization/database-team, @organization/cloud-infrastructure, @organization/qa, @organization/technical-writers

.github/CODEOWNERS:

* @organization/architects @organization/lead-developers

# Workflow related files
.github/workflows/* @organization/devops @organization/architects
.github/CODEOWNERS @organization/architects
.github/PULL_REQUEST_TEMPLATE.md @organization/architects @organization/lead-developers

# Airflow code files
src/backend/dags/* @organization/airflow-developers @organization/data-engineers
src/backend/dags/utils/* @organization/airflow-developers
src/backend/plugins/* @organization/airflow-developers @organization/architects
src/backend/plugins/hooks/* @organization/airflow-developers
src/backend/plugins/operators/* @organization/airflow-developers
src/backend/plugins/sensors/* @organization/airflow-developers
src/backend/plugins/macros/* @organization/airflow-developers

# Configuration files
src/backend/config/* @organization/devops @organization/architects
src/backend/config/variables.json @organization/airflow-developers @organization/devops
src/backend/config/connections.json @organization/airflow-developers @organization/security-team

# Migration related files
src/backend/migrations/* @organization/architects @organization/database-team
src/backend/migrations/migration_airflow1_to_airflow2.py @organization/architects @organization/airflow-developers

# Script files
src/backend/scripts/* @organization/devops @organization/airflow-developers
src/backend/scripts/validate_dags.py @organization/airflow-developers
src/backend/scripts/deploy_dags.py @organization/devops @organization/airflow-developers

# Infrastructure files
src/backend/terraform/* @organization/devops @organization/cloud-infrastructure
infrastructure/* @organization/devops @organization/cloud-infrastructure

# CI/CD files
src/backend/ci-cd/* @organization/devops @organization/architects
src/backend/ci-cd/approval-workflow.json @organization/architects @organization/lead-developers

# Testing files
src/test/* @organization/qa @organization/airflow-developers
src/test/migration_tests/* @organization/qa @organization/architects @organization/airflow-developers

# Documentation files
src/backend/docs/* @organization/technical-writers @organization/airflow-developers
src/backend/docs/migration_guide.md @organization/architects @organization/airflow-developers

# Security files
src/test/security_tests/* @organization/security-team @organization/architects

# Deployment files
src/test/deployment_tests/* @organization/devops @organization/qa

Add public-samples/demo-8eyuba/src/backend/dags/utils/db_utils.py
  src/backend/dags/utils/db_utils.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/dags/utils/gcp_utils.py
  src/backend/dags/utils/gcp_utils.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/dags/utils/validation_utils.py
  src/backend/dags/utils/validation_utils.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/docs/best_practices.md
  src/backend/docs/best_practices.md
Owners: @organization/technical-writers, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/docs/changelog.md
  src/backend/docs/changelog.md
Owners: @organization/technical-writers, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/docs/composer2_architecture.md
  src/backend/docs/composer2_architecture.md
Owners: @organization/technical-writers, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/docs/deployment_guide.md
  src/backend/docs/deployment_guide.md
Owners: @organization/technical-writers, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/docs/migration_guide.md
  src/backend/docs/migration_guide.md
Owners: @organization/architects, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/docs/operator_migration.md
  src/backend/docs/operator_migration.md
Owners: @organization/technical-writers, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/docs/security_guidelines.md
  src/backend/docs/security_guidelines.md
Owners: @organization/technical-writers, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/migrations/__init__.py
  src/backend/migrations/__init__.py
Owners: @organization/architects, @organization/database-team

Add public-samples/demo-8eyuba/src/backend/migrations/migration_airflow1_to_airflow2.py
  src/backend/migrations/migration_airflow1_to_airflow2.py
Owners: @organization/architects, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/migrations/alembic_migrations/__init__.py
  src/backend/migrations/alembic_migrations/__init__.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/migrations/alembic_migrations/env.py
  src/backend/migrations/alembic_migrations/env.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/migrations/alembic_migrations/versions/__init__.py
  src/backend/migrations/alembic_migrations/versions/__init__.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/migrations/alembic_migrations/versions/initial_schema.py
  src/backend/migrations/alembic_migrations/versions/initial_schema.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/migrations/alembic_migrations/versions/updated_schema.py
  src/backend/migrations/alembic_migrations/versions/updated_schema.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/monitoring/alerts/composer_health.yaml
  src/backend/monitoring/alerts/composer_health.yaml
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/monitoring/alerts/dag_failure.yaml
  src/backend/monitoring/alerts/dag_failure.yaml
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/monitoring/alerts/task_duration.yaml
  src/backend/monitoring/alerts/task_duration.yaml
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/monitoring/dashboards/composer_overview.json
  src/backend/monitoring/dashboards/composer_overview.json
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/monitoring/dashboards/dag_performance.json
  src/backend/monitoring/dashboards/dag_performance.json
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/monitoring/dashboards/task_performance.json
  src/backend/monitoring/dashboards/task_performance.json
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/plugins/__init__.py
  src/backend/plugins/__init__.py
Owners: @organization/airflow-developers, @organization/architects

Add public-samples/demo-8eyuba/src/backend/plugins/hooks/__init__.py
  src/backend/plugins/hooks/__init__.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/hooks/custom_gcp_hook.py
  src/backend/plugins/hooks/custom_gcp_hook.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/hooks/custom_http_hook.py
  src/backend/plugins/hooks/custom_http_hook.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/hooks/custom_postgres_hook.py
  src/backend/plugins/hooks/custom_postgres_hook.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/macros/__init__.py
  src/backend/plugins/macros/__init__.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/macros/custom_macros.py
  src/backend/plugins/macros/custom_macros.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/operators/__init__.py
  src/backend/plugins/operators/__init__.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/operators/custom_gcp_operator.py
  src/backend/plugins/operators/custom_gcp_operator.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/operators/custom_http_operator.py
  src/backend/plugins/operators/custom_http_operator.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/operators/custom_postgres_operator.py
  src/backend/plugins/operators/custom_postgres_operator.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/sensors/__init__.py
  src/backend/plugins/sensors/__init__.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/sensors/custom_gcp_sensor.py
  src/backend/plugins/sensors/custom_gcp_sensor.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/sensors/custom_http_sensor.py
  src/backend/plugins/sensors/custom_http_sensor.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/plugins/sensors/custom_postgres_sensor.py
  src/backend/plugins/sensors/custom_postgres_sensor.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/providers/__init__.py
  src/backend/providers/__init__.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/providers/custom_provider/__init__.py
  src/backend/providers/custom_provider/__init__.py
Owners: @organization/architects, @organization/lead-developers
