Repository vasubajaj7/demo-8eyuba, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/architects, @organization/lead-developers, @organization/devops, @organization/airflow-developers, @organization/data-engineers, @organization/security-team, @organization/database-team, @organization/cloud-infrastructure, @organization/qa, @organization/technical-writers

.github/CODEOWNERS:

* @organization/architects @organization/lead-developers

# Workflow related files
.github/workflows/* @organization/devops @organization/architects
.github/CODEOWNERS @organization/architects
.github/PULL_REQUEST_TEMPLATE.md @organization/architects @organization/lead-developers

# Airflow code files
src/backend/dags/* @organization/airflow-developers @organization/data-engineers
src/backend/dags/utils/* @organization/airflow-developers
src/backend/plugins/* @organization/airflow-developers @organization/architects
src/backend/plugins/hooks/* @organization/airflow-developers
src/backend/plugins/operators/* @organization/airflow-developers
src/backend/plugins/sensors/* @organization/airflow-developers
src/backend/plugins/macros/* @organization/airflow-developers

# Configuration files
src/backend/config/* @organization/devops @organization/architects
src/backend/config/variables.json @organization/airflow-developers @organization/devops
src/backend/config/connections.json @organization/airflow-developers @organization/security-team

# Migration related files
src/backend/migrations/* @organization/architects @organization/database-team
src/backend/migrations/migration_airflow1_to_airflow2.py @organization/architects @organization/airflow-developers

# Script files
src/backend/scripts/* @organization/devops @organization/airflow-developers
src/backend/scripts/validate_dags.py @organization/airflow-developers
src/backend/scripts/deploy_dags.py @organization/devops @organization/airflow-developers

# Infrastructure files
src/backend/terraform/* @organization/devops @organization/cloud-infrastructure
infrastructure/* @organization/devops @organization/cloud-infrastructure

# CI/CD files
src/backend/ci-cd/* @organization/devops @organization/architects
src/backend/ci-cd/approval-workflow.json @organization/architects @organization/lead-developers

# Testing files
src/test/* @organization/qa @organization/airflow-developers
src/test/migration_tests/* @organization/qa @organization/architects @organization/airflow-developers

# Documentation files
src/backend/docs/* @organization/technical-writers @organization/airflow-developers
src/backend/docs/migration_guide.md @organization/architects @organization/airflow-developers

# Security files
src/test/security_tests/* @organization/security-team @organization/architects

# Deployment files
src/test/deployment_tests/* @organization/devops @organization/qa

Add public-samples/demo-8eyuba/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/.env.example
  src/backend/.env.example
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/README.md
  src/backend/README.md
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/airflow.cfg
  src/backend/airflow.cfg
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/conftest.py
  src/backend/conftest.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/constraints.txt
  src/backend/constraints.txt
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/package.json
  src/backend/package.json
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/pytest.ini
  src/backend/pytest.ini
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/requirements-dev.txt
  src/backend/requirements-dev.txt
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/setup.py
  src/backend/setup.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/webserver_config.py
  src/backend/webserver_config.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/ci-cd/approval-workflow.json
  src/backend/ci-cd/approval-workflow.json
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/ci-cd/cloudbuild.yaml
  src/backend/ci-cd/cloudbuild.yaml
Owners: @organization/devops, @organization/architects

Add public-samples/demo-8eyuba/src/backend/ci-cd/deploy-dev.sh
  src/backend/ci-cd/deploy-dev.sh
Owners: @organization/devops, @organization/architects

Add public-samples/demo-8eyuba/src/backend/ci-cd/deploy-prod.sh
  src/backend/ci-cd/deploy-prod.sh
Owners: @organization/devops, @organization/architects

Add public-samples/demo-8eyuba/src/backend/ci-cd/deploy-qa.sh
  src/backend/ci-cd/deploy-qa.sh
Owners: @organization/devops, @organization/architects

Add public-samples/demo-8eyuba/src/backend/ci-cd/github-actions-deploy.yml
  src/backend/ci-cd/github-actions-deploy.yml
Owners: @organization/devops, @organization/architects

Add public-samples/demo-8eyuba/src/backend/ci-cd/github-actions-pr.yml
  src/backend/ci-cd/github-actions-pr.yml
Owners: @organization/devops, @organization/architects

Add public-samples/demo-8eyuba/src/backend/ci-cd/github-actions-test.yml
  src/backend/ci-cd/github-actions-test.yml
Owners: @organization/devops, @organization/architects

Add public-samples/demo-8eyuba/src/backend/config/__init__.py
  src/backend/config/__init__.py
Owners: @organization/devops, @organization/architects

Add public-samples/demo-8eyuba/src/backend/config/composer_dev.py
  src/backend/config/composer_dev.py
Owners: @organization/devops, @organization/architects

Add public-samples/demo-8eyuba/src/backend/config/composer_prod.py
  src/backend/config/composer_prod.py
Owners: @organization/devops, @organization/architects

Add public-samples/demo-8eyuba/src/backend/config/composer_qa.py
  src/backend/config/composer_qa.py
Owners: @organization/devops, @organization/architects

Add public-samples/demo-8eyuba/src/backend/config/connections.json
  src/backend/config/connections.json
Owners: @organization/airflow-developers, @organization/security-team

Add public-samples/demo-8eyuba/src/backend/config/pools.json
  src/backend/config/pools.json
Owners: @organization/devops, @organization/architects

Add public-samples/demo-8eyuba/src/backend/config/variables.json
  src/backend/config/variables.json
Owners: @organization/airflow-developers, @organization/devops

Add public-samples/demo-8eyuba/src/backend/dags/README.md
  src/backend/dags/README.md
Owners: @organization/airflow-developers, @organization/data-engineers

Add public-samples/demo-8eyuba/src/backend/dags/__init__.py
  src/backend/dags/__init__.py
Owners: @organization/airflow-developers, @organization/data-engineers

Add public-samples/demo-8eyuba/src/backend/dags/data_sync.py
  src/backend/dags/data_sync.py
Owners: @organization/airflow-developers, @organization/data-engineers

Add public-samples/demo-8eyuba/src/backend/dags/etl_main.py
  src/backend/dags/etl_main.py
Owners: @organization/airflow-developers, @organization/data-engineers

Add public-samples/demo-8eyuba/src/backend/dags/example_dag_basic.py
  src/backend/dags/example_dag_basic.py
Owners: @organization/airflow-developers, @organization/data-engineers

Add public-samples/demo-8eyuba/src/backend/dags/example_dag_taskflow.py
  src/backend/dags/example_dag_taskflow.py
Owners: @organization/airflow-developers, @organization/data-engineers

Add public-samples/demo-8eyuba/src/backend/dags/reports_gen.py
  src/backend/dags/reports_gen.py
Owners: @organization/airflow-developers, @organization/data-engineers

Add public-samples/demo-8eyuba/src/backend/dags/utils/__init__.py
  src/backend/dags/utils/__init__.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/dags/utils/alert_utils.py
  src/backend/dags/utils/alert_utils.py
Owners: @organization/airflow-developers
