Repository vasubajaj7/demo-8eyuba, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/architects, @organization/lead-developers, @organization/devops, @organization/airflow-developers, @organization/data-engineers, @organization/security-team, @organization/database-team, @organization/cloud-infrastructure, @organization/qa, @organization/technical-writers

.github/CODEOWNERS:

* @organization/architects @organization/lead-developers

# Workflow related files
.github/workflows/* @organization/devops @organization/architects
.github/CODEOWNERS @organization/architects
.github/PULL_REQUEST_TEMPLATE.md @organization/architects @organization/lead-developers

# Airflow code files
src/backend/dags/* @organization/airflow-developers @organization/data-engineers
src/backend/dags/utils/* @organization/airflow-developers
src/backend/plugins/* @organization/airflow-developers @organization/architects
src/backend/plugins/hooks/* @organization/airflow-developers
src/backend/plugins/operators/* @organization/airflow-developers
src/backend/plugins/sensors/* @organization/airflow-developers
src/backend/plugins/macros/* @organization/airflow-developers

# Configuration files
src/backend/config/* @organization/devops @organization/architects
src/backend/config/variables.json @organization/airflow-developers @organization/devops
src/backend/config/connections.json @organization/airflow-developers @organization/security-team

# Migration related files
src/backend/migrations/* @organization/architects @organization/database-team
src/backend/migrations/migration_airflow1_to_airflow2.py @organization/architects @organization/airflow-developers

# Script files
src/backend/scripts/* @organization/devops @organization/airflow-developers
src/backend/scripts/validate_dags.py @organization/airflow-developers
src/backend/scripts/deploy_dags.py @organization/devops @organization/airflow-developers

# Infrastructure files
src/backend/terraform/* @organization/devops @organization/cloud-infrastructure
infrastructure/* @organization/devops @organization/cloud-infrastructure

# CI/CD files
src/backend/ci-cd/* @organization/devops @organization/architects
src/backend/ci-cd/approval-workflow.json @organization/architects @organization/lead-developers

# Testing files
src/test/* @organization/qa @organization/airflow-developers
src/test/migration_tests/* @organization/qa @organization/architects @organization/airflow-developers

# Documentation files
src/backend/docs/* @organization/technical-writers @organization/airflow-developers
src/backend/docs/migration_guide.md @organization/architects @organization/airflow-developers

# Security files
src/test/security_tests/* @organization/security-team @organization/architects

# Deployment files
src/test/deployment_tests/* @organization/devops @organization/qa

Add public-samples/demo-8eyuba/src/backend/providers/custom_provider/example_modules/__init__.py
  src/backend/providers/custom_provider/example_modules/__init__.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/providers/custom_provider/hooks/__init__.py
  src/backend/providers/custom_provider/hooks/__init__.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/providers/custom_provider/operators/__init__.py
  src/backend/providers/custom_provider/operators/__init__.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/providers/custom_provider/sensors/__init__.py
  src/backend/providers/custom_provider/sensors/__init__.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/scripts/__init__.py
  src/backend/scripts/__init__.py
Owners: @organization/devops, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/scripts/backup_metadata.py
  src/backend/scripts/backup_metadata.py
Owners: @organization/devops, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/scripts/deploy_dags.py
  src/backend/scripts/deploy_dags.py
Owners: @organization/devops, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/scripts/import_connections.py
  src/backend/scripts/import_connections.py
Owners: @organization/devops, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/scripts/import_variables.py
  src/backend/scripts/import_variables.py
Owners: @organization/devops, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/scripts/restore_metadata.py
  src/backend/scripts/restore_metadata.py
Owners: @organization/devops, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/scripts/rotate_secrets.py
  src/backend/scripts/rotate_secrets.py
Owners: @organization/devops, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/scripts/setup_composer.py
  src/backend/scripts/setup_composer.py
Owners: @organization/devops, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/scripts/validate_dags.py
  src/backend/scripts/validate_dags.py
Owners: @organization/airflow-developers

Add public-samples/demo-8eyuba/src/backend/terraform/__init__.py
  src/backend/terraform/__init__.py
Owners: @organization/devops, @organization/cloud-infrastructure

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_dev/main.tf
  src/backend/terraform/composer2_dev/main.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_dev/outputs.tf
  src/backend/terraform/composer2_dev/outputs.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_dev/variables.tf
  src/backend/terraform/composer2_dev/variables.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_modules/composer/main.tf
  src/backend/terraform/composer2_modules/composer/main.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_modules/composer/outputs.tf
  src/backend/terraform/composer2_modules/composer/outputs.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_modules/composer/variables.tf
  src/backend/terraform/composer2_modules/composer/variables.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_modules/networking/main.tf
  src/backend/terraform/composer2_modules/networking/main.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_modules/networking/outputs.tf
  src/backend/terraform/composer2_modules/networking/outputs.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_modules/networking/variables.tf
  src/backend/terraform/composer2_modules/networking/variables.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_modules/security/main.tf
  src/backend/terraform/composer2_modules/security/main.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_modules/security/outputs.tf
  src/backend/terraform/composer2_modules/security/outputs.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_modules/security/variables.tf
  src/backend/terraform/composer2_modules/security/variables.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_prod/main.tf
  src/backend/terraform/composer2_prod/main.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_prod/outputs.tf
  src/backend/terraform/composer2_prod/outputs.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_prod/variables.tf
  src/backend/terraform/composer2_prod/variables.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_qa/main.tf
  src/backend/terraform/composer2_qa/main.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_qa/outputs.tf
  src/backend/terraform/composer2_qa/outputs.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/backend/terraform/composer2_qa/variables.tf
  src/backend/terraform/composer2_qa/variables.tf
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/test/README.md
  src/test/README.md
Owners: @organization/qa, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/test/__init__.py
  src/test/__init__.py
Owners: @organization/qa, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/test/setup.py
  src/test/setup.py
Owners: @organization/qa, @organization/airflow-developers

Add public-samples/demo-8eyuba/src/test/airflow_version_tests/__init__.py
  src/test/airflow_version_tests/__init__.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/test/airflow_version_tests/test_airflow1_to_airflow2_migration.py
  src/test/airflow_version_tests/test_airflow1_to_airflow2_migration.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/test/airflow_version_tests/test_deprecated_features.py
  src/test/airflow_version_tests/test_deprecated_features.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/test/airflow_version_tests/test_new_features.py
  src/test/airflow_version_tests/test_new_features.py
Owners: @organization/architects, @organization/lead-developers

Add public-samples/demo-8eyuba/src/test/airflow_version_tests/test_taskflow_api.py
  src/test/airflow_version_tests/test_taskflow_api.py
Owners: @organization/architects, @organization/lead-developers
